# VOCABSIZE	The size of the vocabulary (must correspond to the feature IDs in training set):
VOCABSIZE	288063
# NUMTHREADS	The number of threads to use:
NUMTHREADS	4
# NUMITERATIONS	The number of gibbs sampling passes through the corpus:
NUMITERATIONS	50
# OPTIMIZEINTERVAL	How frequently to optimize hyperparameters (deltas):
OPTIMIZEINTERVAL	20
# branchingFactors	The branching factors of the Sparse Backoff Tree, from root to leaves:
branchingFactors	2 3 3
# USEEXPANSION	If 1, incrementally expand the tree (see paper for details).  Default is 1:
USEEXPANSION	1
# EXPANSIONSCHEDULE	A sequence d_i >= 0 of length len <= sbt depth.  Tree will be sampled NUMITERATION times for each i, using branching factors up to & including index d_i for iteration i. Default is [0 1 2 3 ... <sbt depth - 1>]:
EXPANSIONSCHEDULE	1 2